In [1]:
import jaydebeapi
import os

In [2]:
#provide the required details
url =  'jdbc:impala://<ip>:<port>/default;AuthMech=1;KrbRealm=<Relam>;KrbHostFQDN=<FQDN>;KrbServiceName=<Service>'
driver = 'com.cloudera.impala.jdbc.Driver'

In [3]:
DIR = os.getcwd() + '/lib/'

In [4]:
jarFile = [
    DIR + 'ImpalaJDBC42.jar',
]

In [5]:
conn = jaydebeapi.connect(driver, url, ['', ''], jarFile)

log4j:WARN No appenders could be found for logger (com.cloudera.impala.jdbc42.internal.apache.thrift.transport.TSaslTransport).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN See http://logging.apache.org/log4j/1.2/faq.html#noconfig for more info.

In [6]:
cursor = conn.cursor()

In [7]:
sql="SQL"
cursor.execute(sql)
results = cursor.fetchall()

In [8]:
import pandas as pd

In [9]:
df = pd.read_sql(sql, conn)

/root/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [10]:
df.head()

      dateval  user_count
0  2022-12-01  0701000010
1  2022-12-01  0701000010
2  2022-12-01  0701000010
3  2022-12-01  0701000010
4  2022-12-01  0701000010

In [16]:
cursor.close()

In [17]:
conn.close()